
$pane-background: rgb(142, 153, 176);
$pane-content-background: rgb(255, 255, 255);

html, body {
    width:100%;
    height: 100%;
    font-size: 16px;
    margin:0px;
    padding: 0px;
}

div {
    min-width: 10px;
    min-height: 10px;
    border: 1px solid black;
    //margin: 2px;
    box-sizing: border-box;
}

.modal-background {
    background-color: rgba(123, 123, 123, 0.694);
    width:100%;
    height:100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    background-color: $pane-background;
    margin-top: -40%;
    max-width: 70%;

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        .title-bar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                margin: .1em .2em;
            }
        }
        button.close {
            height: 1.5em;
            width: 1.5em;
            margin: .1em;
        }
    }

    .contentWrapper {
        display: flex;

        .data-panel {
            .description {
                word-wrap: break-word;
            }
        }

        .menu-panel {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            padding: 1em;

            button {
                width: 100%;

            }
        }
    }
}

#page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    height: 2em;
    flex-shrink: 0;
}

#content {
    display: flex;
    flex-grow:1;
}

#workspace {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

#projects-pane {
    height: 100%;
}

#completed-pane {
    .form-wrapper {
        display: none;
    }
}

#pane-selector {
    flex-grow: 0;
}

.pane {
    max-height: 100%;
    margin-right: .3rem;
    padding:.3em;
    background-color: $pane-background;
    display: flex;
    flex-direction: column;

    .pane-title {
        text-align: center;
        flex-grow: 0;
    }

    .pane-content {
        padding: .1em;
        flex-grow:1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
        background-color: $pane-content-background;
    }

    form {
        display:flex;

        .text-input {
            width: 100%;
        }
    }

}

.pane.incomplete .card.complete {
    display:none;
}

.card {
    min-height:10px;
    margin: .5em 0em;
    display:block;
    flex-shrink: 0;

    .icon-wrapper {
        display: flex;
        justify-content: flex-start;

        .icon {
            height: 1em;
            width: 1em;
            border-radius: 20%;
        }
        .complete {
            flex-grow: 0;
            order: 10;
            justify-self: flex-end;
        }
    }
    
}


.card.project-card {
    .parent-project-wrapper {
        display: none;
    }
}

.card.task-card {
    .child-tasks-wrapper {
        display: none;
    }
}

.card.complete {
    background-color: rgb(222, 220, 220);
    .card-title {
        text-decoration: line-through;
    }
}

li.complete {
    text-decoration: line-through;
}

#footer {
    margin-top:auto;
    flex-grow: 0;
}

.refresh-highlight {
    background-color: red;
}

.hover-highlight {
    background-color: green;
}